@model Client.Models.Responses.BankService.GetAccountResponse
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>GetAccountResponse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>

<a asp-action="AddBalance">Add 1000 to balance</a>

