@model Client.Models.SellStockViewModel

@{
    ViewData["Title"] = "Sell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Sell</h1>

<h4>SellStockViewModel</h4>
<hr />

@{
    if (ViewBag.ShowErrorDialog != null && ViewBag.ShowErrorDialog == true)
    {
    <div class="alert alert-danger">
        @ViewBag.ErrorText
    </div>
    }
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Sell">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimeOut" class="control-label"></label>
                <input asp-for="TimeOut" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfShares" class="control-label"></label>
                <input asp-for="AmountOfShares" class="form-control" />
                <span asp-validation-for="AmountOfShares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="OwnedStockList">Back to List</a>
</div>

